@import "../../../node_modules/ionic2-auto-complete/auto-complete";

.no_cs_im {
    width: 80px !important;
    height: 80px !important;
    border-radius: 8px;
    margin: auto;
    font-size: 21px;
    font-family: 'Roboto';
    margin-bottom: 26px;
}