page-addnewdeal {
  .close_new_deal_btn{
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .relatedname{
  	position:relative;
  	&:after{
  		content:"";
  		position:absolute;
  		left:0;
  		top:0;
  		width:100%;
  		height:100%;
  		z-index:20;
  	}
  }
}
