page-addstakeholder {

    .stake_holder_rel_con {
        position: absolute;
        top: 14px;
      }
      
      .stake_auto_com {
        padding-left: 40px;
      }

      .no_rel_con_img {
        height: 30px !important;
        width: 30px !important;
        line-height: 33px!important;
    }

}
