<ion-content class="bg_image login_page fr_pwd">
    <div class="hm_logo">
        <div class="logo_in" *ngIf="Loadershow==false">
          <img  src="assets/imgs/UiPilot.svg" width="145" height="169" class="logo" />
        </div>
        <div class="logo_in ldr_shw" *ngIf="Loadershow">
          <img   src="assets/lodergif/UPilotLoader_Dark100.gif" class="ldr_gif" />
          <img  src="assets/imgs/Upilot_Logo_Text.png" class="logo ldr_img" />
        </div>
    </div>
    <div class="spc_padd">

    <form (ngSubmit)="resetpassword()" >
       <ion-row class="">
            <ion-col center text-center>
            <span class="forgt_paswd">Forgot password?</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7 class="p_left p_right for_frs_input">
                <ion-input [class.white-input]="showwhiteSubDomain" name="domain" type="text" (input)="onFocusEvent(subdomain,'suddomain')"
                [ngClass]="errorclass==1? 'cst_input  error': errorclass==3?'cst_input  error':'cst_input'"
                 placeholder="Subdomain" [(ngModel)]="subdomain"></ion-input>
            </ion-col>
            <ion-col col-5 class="p_left p_right for_sec_input">
                <ion-input name="domain_com" type="text"
                [ngClass]="errorclass==1? 'cst_input  error': errorclass==3?'cst_input  error':'cst_input bg_white'"
                 placeholder="Subdomain"  [(ngModel)]="password.doamin_com"readonly></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="ui_pading">
                <ion-input name="username" (input)="onFocusEvent(password.username,'username')"
                [class.white-input]="showwhiteUserName" type="text" [ngClass]="errorclass==2? 'cst_input dm_cls  error': errorclass==3? 'cst_input dm_cls  error':'cst_input' "
                [(ngModel)]="password.username" placeholder="Username" ></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="frt_btn">
                <ion-col center text-center class="p_left p_right">
            <button class="btn_submit" ion-button full>SEND</button>
            </ion-col>
        </ion-row>
        <ion-row text-right>
            <ion-col class="ui_pading">
                <span class="or">or</span>
                <a class="cancel_cnt" (click)="go_back()">Cancel</a>
            </ion-col>
        </ion-row>
    </form>
    </div>
</ion-content>
<div center middle class="ldr_mask" *ngIf="Loadershow">
  </div>
